body,
* {
    margin: 0;
    padding: 0;
}

.row {
    margin-right: 0px !important;
}

@keyframes star {
    0% {
        opacity: 0.2;
    }
    50%{
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.content {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 4rem;
}

@media (min-width:992px) {
    .s1 {
        .nav-item {
            background-color: rgba(0, 0, 0, 0) !important;
        }

        .content {
            padding-left: 10% !important;
            padding-right: 10% !important;
            padding-top: 4rem;
        }

        .logo {
            height: 260px !important;
            width: 260px !important;
            position: absolute;
            top: 15%;
            right: 10%;
        }

        .text {
            position: absolute;
            top: 30%;
        }

        .vx {
            position: absolute;
            bottom: 10%;
            right: 5%;
            width: 30rem !important;
            height: 12.5rem !important;
        }
    }

    .s2 {
        .title {
            text-align: center;

            h1 {
                font-size: 2.5rem !important;
            }

            h2 {
                font-size: 2rem !important;
            }
        }

        .p {
            font-size: 1.5rem;
        }

        .social {
            margin-top: 10% !important;
            div {
                flex: 1;
            }
        }
    }
}

.section {
    width: 100%;
    height: 100vh;
}

.s1 {
    background: url(../assets/section1.webp);
    background-repeat: no-repeat;
    background-size: cover;

    header {
        background-color: rgba(71.4, 71.4, 71.4, 0.5);
        width: 100%;
        height: 3.5rem;

        nav {
            height: 100%;
            width: 100%;

            .nsita {
                height: 100%;
                font-size: 18px;

                img {
                    height: 40px;
                    vertical-align: middle;
                }
            }

            .nav-item {
                background-color: rgba(71, 71, 71, 0.5);
            }

            .nav-link {
                color: hsla(0, 0%, 100%, 0.6) !important;
                text-align: center;

                &:hover {
                    color: white !important;
                }
            }
        }
    }

    .content {
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 4rem;

        .desc {
            color: white;
        }

        .logo {
            height: 150px;
            width: 150px;
            background: url(../assets/nsita.png);
            background-repeat: no-repeat;
            background-size: contain;
            margin: 0 auto !important;
        }

        .vx {
            width: 20rem;
            height: 7.5rem;
            background: url(../assets/vx.webp);
            background-repeat: no-repeat;
            background-size: contain;
            margin: 0 auto;
            margin-top: 10%;
        }

        .text {
            .origin {
                color: #fcef38dc;
                height: 9rem;

                h1 {
                    display: none;
                }
            }
        }
    }

}

.s2 {
    background: url(../assets/section2.webp);
    background-repeat: no-repeat;
    background-size: cover;

    text {
        color: white;

        .title {
            text-align: center;

            h1 {
                font-size: 1.5rem;
            }

            h2 {
                font-size: 1rem;
            }
        }

        .p {
            margin-top: 20px;

            p {
                text-indent: 2rem
            }
        }
    }

    .social {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        text-align: center;
        align-items: center;
        /*垂直居中*/
        justify-content: center;
        /*水平居中*/
        margin-top: 30px;
        div {
            justify-items: center;
            justify-content: space-around;
            height: 120px;
        }

        img {
            width: 80%;
        }
    }
}

.s3 {
    background: url(../assets/section3.webp);
    background-repeat: no-repeat;
    background-size: cover;
}